<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatcherSerlvet</servlet-name>
        <servlet-class>fgengine.Dispatcher.DispatcherSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAddressServlet</servlet-name>
        <servlet-class>fgengine.Mobile.MAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MUserServlet</servlet-name>
        <servlet-class>fgengine.Mobile.MUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WAddressServlet</servlet-name>
        <servlet-class>fgengine.Web.WAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WCashOutServlet</servlet-name>
        <servlet-class>fgengine.Web.WCashOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WCategoryServlet</servlet-name>
        <servlet-class>fgengine.Web.WCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WDiscountCodeServlet</servlet-name>
        <servlet-class>fgengine.Web.WDiscountCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WImageServlet</servlet-name>
        <servlet-class>fgengine.Web.WImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WMessageServlet</servlet-name>
        <servlet-class>fgengine.Web.WMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WOrderServlet</servlet-name>
        <servlet-class>fgengine.Web.WOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WPaymentServlet</servlet-name>
        <servlet-class>fgengine.Web.WPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WPickupServlet</servlet-name>
        <servlet-class>fgengine.Web.WPickupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WProductServlet</servlet-name>
        <servlet-class>fgengine.Web.WProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WReportServlet</servlet-name>
        <servlet-class>fgengine.Web.WReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WShippingServlet</servlet-name>
        <servlet-class>fgengine.Web.WShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WStockServlet</servlet-name>
        <servlet-class>fgengine.Web.WStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSubscriptionServlet</servlet-name>
        <servlet-class>fgengine.Web.WSubscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WTransactionServlet</servlet-name>
        <servlet-class>fgengine.Web.WTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WUserServlet</servlet-name>
        <servlet-class>fgengine.Web.WUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WWalletSerlvet</servlet-name>
        <servlet-class>fgengine.Web.WWalletSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WReviewServlet</servlet-name>
        <servlet-class>fgengine.Web.WReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WCartServlet</servlet-name>
        <servlet-class>fgengine.Web.WCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherSerlvet</servlet-name>
        <url-pattern>/DispatcherSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAddressServlet</servlet-name>
        <url-pattern>/MAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MUserServlet</servlet-name>
        <url-pattern>/MUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WAddressServlet</servlet-name>
        <url-pattern>/WAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WCashOutServlet</servlet-name>
        <url-pattern>/WCashOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WCategoryServlet</servlet-name>
        <url-pattern>/WCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WDiscountCodeServlet</servlet-name>
        <url-pattern>/WDiscountCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WImageServlet</servlet-name>
        <url-pattern>/WImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WMessageServlet</servlet-name>
        <url-pattern>/WMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WOrderServlet</servlet-name>
        <url-pattern>/WOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WPaymentServlet</servlet-name>
        <url-pattern>/WPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WPickupServlet</servlet-name>
        <url-pattern>/WPickupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WProductServlet</servlet-name>
        <url-pattern>/WProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WReportServlet</servlet-name>
        <url-pattern>/WReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WShippingServlet</servlet-name>
        <url-pattern>/WShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WStockServlet</servlet-name>
        <url-pattern>/WStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSubscriptionServlet</servlet-name>
        <url-pattern>/WSubscriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WTransactionServlet</servlet-name>
        <url-pattern>/WTransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WUserServlet</servlet-name>
        <url-pattern>/WUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WWalletSerlvet</servlet-name>
        <url-pattern>/WWalletSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WReviewServlet</servlet-name>
        <url-pattern>/WReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WCartServlet</servlet-name>
        <url-pattern>/WCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           30
        </session-timeout>
    </session-config>
</web-app>
